*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 140px;
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 4;
    gap: 40px;
    background-color: rgba(48, 2, 48, 0.788);

}
.caja{
    
    padding: 100px;
    border-radius: 20px;
}
.caja:nth-of-type(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3 ;
    background-color: rgb(80, 145, 123);
}
.caja:nth-of-type(2){
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:2 ;
    background-color: rgb(69, 169, 187);
}
.caja:nth-of-type(3){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end:4;
    background-color: palevioletred;
}
.caja:nth-of-type(4){
    grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: rgb(161, 123, 84);
}
.caja:nth-of-type(5){
background-color: rgb(15, 71, 52);
}
.caja:nth-of-type(6){
background-color: rgba(37, 33, 29, 0.836);
}